section,
footer {
  padding: 0 15px
}

@media (min-width: 575.98px) {
  section,
  footer {
    padding: 0 calc(50vw - 312px)
  }
}


@media (min-width: 767.98px) {
  section,
  footer {
    padding: 0 calc(50vw - 418px)
  }
}


@media (min-width: 991.98px) {
  section,
  footer {
    padding: 0 calc(50vw - 504px)
  }
}


@media (min-width: 1199.98px) {
  section,
  footer {
    padding: 0 calc(50vw - 590px)
  }
}